# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.packages
.pub/
build/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Android
android/.gradle/
android/local.properties
android/key.properties
**/captures/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Runner.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/xcuserdata/

# macOS
macos/Flutter/ephemeral/
macos/Runner.xcworkspace/xcuserdata/
macos/Runner.xcodeproj/xcuserdata/

# Misc
coverage/
