# Flutter / Dart
.dart_tool/
.packages
.pub/
build/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Android
android/.gradle/
android/local.properties
android/key.properties
**/captures/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# Misc
coverage/
